.nasa-image {
  height: 700px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

#root {
  background-color: #22272e;
}

.nav-link, .navbar, .navbar-brand {
  color: white;
}

.active {
  color: white;
}